:root {
    --title-text-color-primary: #2E2F42;
    --title-text-color-secondary: #434455;
    --primary-btn-bg-color: #4D5AE5;
    --secondary-btn-bg-color: #E7E9FC;
    --primary-btn-color: #fff;
    --secondary-btn-color: #4D5AE5;
}

.list {
    list-style-type: none;
}

.startpage-btn {
    color: var(--primary-btn-color);
    background-color: var(--primary-btn-bg-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
}

.portfolio-btn button {
    color: var(--secondary-btn-color);
    background-color: var(--secondary-btn-bg-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
}

.portfolio-btn button:hover,
.portfolio-btn button:focus {
    color: var(--primary-btn-color);
    background-color: var(--primary-btn-bg-color);
}

body {
    font-family: 'Roboto', sans-serif;
}

/* NAVIGATION */

.nav a {
    text-decoration: none;
}

.nav-title {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.nav-title *,
.nav-contact * {
    text-decoration: none;
    list-style-type: none;
}

.nav-contact {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
/* SECTION 1 */

.section-1 {
    background: #2E2F42;
}

.section-1 > h1 {
    color: #fff;
}

/* SECTION 2 */

.section-2 h2 {
    visibility: hidden;
    display: none;
}

.section-2 h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-text-color-primary);
}

.section-2 p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-text-color-secondary);
}

/* SECTION 3 */

.section-3 h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-text-color-primary);
}

.section-3 img {
    width: 360px;
    height: 300px;
    left: 156px;
    top: 1128px;
}

/* SECTION 4 */

.section-4 h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-text-color-primary);
}

.section-4 h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-text-color-primary);
}

.section-4 p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-text-color-secondary);
}

/* FOTTER */

.footer {
    background: #2E2F42;
}

.footer p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}

/* PORTFOLIO */

.portfolio-main h1 {
    visibility: hidden;
    display: none;
}

.portfolio-product-list h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.portfolio-product-list p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
} 